RewriteEngine On
ErrorDocument 404 /alphaphpn.com/staging/termarshardwareandconstruction/404.html
ErrorDocument 500 /alphaphpn.com/staging/termarshardwareandconstruction/401.html
ErrorDocument 403 /alphaphpn.com/staging/termarshardwareandconstruction/403.html
ErrorDocument 400 /alphaphpn.com/staging/termarshardwareandconstruction/401.html
ErrorDocument 401 /alphaphpn.com/staging/termarshardwareandconstruction/401.html

Options -Indexes

<Files ~ "\.txt$">
Order allow,deny
Deny from all
</Files>